@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0000.woff2') format('woff2');
  unicode-range: U+0020-007F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0001.woff2') format('woff2');
  unicode-range: U+0080-00FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0002.woff2') format('woff2');
  unicode-range: U+0100-024F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0003.woff2') format('woff2');
  unicode-range: U+0250-02AF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0004.woff2') format('woff2');
  unicode-range: U+02B0-02FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0005.woff2') format('woff2');
  unicode-range: U+0370-03FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0006.woff2') format('woff2');
  unicode-range: U+0400-04FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0007.woff2') format('woff2');
  unicode-range: U+1E00-1EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0008.woff2') format('woff2');
  unicode-range: U+2000-206F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0009.woff2') format('woff2');
  unicode-range: U+20A0-20CF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0010.woff2') format('woff2');
  unicode-range: U+2100-214F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0011.woff2') format('woff2');
  unicode-range: U+2150-218F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0012.woff2') format('woff2');
  unicode-range: U+2190-21FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0013.woff2') format('woff2');
  unicode-range: U+2200-22FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0014.woff2') format('woff2');
  unicode-range: U+2300-23FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0015.woff2') format('woff2');
  unicode-range: U+2500-257F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0016.woff2') format('woff2');
  unicode-range: U+2580-259F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0017.woff2') format('woff2');
  unicode-range: U+25A0-25FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0018.woff2') format('woff2');
  unicode-range: U+2600-26FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0019.woff2') format('woff2');
  unicode-range: U+2700-27BF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0020.woff2') format('woff2');
  unicode-range: U+3000-303F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0021.woff2') format('woff2');
  unicode-range: U+3040-309F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0022.woff2') format('woff2');
  unicode-range: U+30A0-30FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0023.woff2') format('woff2');
  unicode-range: U+3100-312F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0024.woff2') format('woff2');
  unicode-range: U+3190-319F;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0025.woff2') format('woff2');
  unicode-range: U+3300-33FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0026.woff2') format('woff2');
  unicode-range: U+4E00-4EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0027.woff2') format('woff2');
  unicode-range: U+4F00-4FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0028.woff2') format('woff2');
  unicode-range: U+5000-50FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0029.woff2') format('woff2');
  unicode-range: U+5100-51FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0030.woff2') format('woff2');
  unicode-range: U+5200-52FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0031.woff2') format('woff2');
  unicode-range: U+5300-53FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0032.woff2') format('woff2');
  unicode-range: U+5400-54FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0033.woff2') format('woff2');
  unicode-range: U+5500-55FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0034.woff2') format('woff2');
  unicode-range: U+5600-56FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0035.woff2') format('woff2');
  unicode-range: U+5700-57FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0036.woff2') format('woff2');
  unicode-range: U+5800-58FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0037.woff2') format('woff2');
  unicode-range: U+5900-59FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0038.woff2') format('woff2');
  unicode-range: U+5A00-5AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0039.woff2') format('woff2');
  unicode-range: U+5B00-5BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0040.woff2') format('woff2');
  unicode-range: U+5C00-5CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0041.woff2') format('woff2');
  unicode-range: U+5D00-5DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0042.woff2') format('woff2');
  unicode-range: U+5E00-5EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0043.woff2') format('woff2');
  unicode-range: U+5F00-5FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0044.woff2') format('woff2');
  unicode-range: U+6000-60FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0045.woff2') format('woff2');
  unicode-range: U+6100-61FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0046.woff2') format('woff2');
  unicode-range: U+6200-62FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0047.woff2') format('woff2');
  unicode-range: U+6300-63FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0048.woff2') format('woff2');
  unicode-range: U+6400-64FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0049.woff2') format('woff2');
  unicode-range: U+6500-65FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0050.woff2') format('woff2');
  unicode-range: U+6600-66FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0051.woff2') format('woff2');
  unicode-range: U+6700-67FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0052.woff2') format('woff2');
  unicode-range: U+6800-68FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0053.woff2') format('woff2');
  unicode-range: U+6900-69FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0054.woff2') format('woff2');
  unicode-range: U+6A00-6AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0055.woff2') format('woff2');
  unicode-range: U+6B00-6BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0056.woff2') format('woff2');
  unicode-range: U+6C00-6CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0057.woff2') format('woff2');
  unicode-range: U+6D00-6DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0058.woff2') format('woff2');
  unicode-range: U+6E00-6EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0059.woff2') format('woff2');
  unicode-range: U+6F00-6FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0060.woff2') format('woff2');
  unicode-range: U+7000-70FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0061.woff2') format('woff2');
  unicode-range: U+7100-71FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0062.woff2') format('woff2');
  unicode-range: U+7200-72FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0063.woff2') format('woff2');
  unicode-range: U+7300-73FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0064.woff2') format('woff2');
  unicode-range: U+7400-74FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0065.woff2') format('woff2');
  unicode-range: U+7500-75FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0066.woff2') format('woff2');
  unicode-range: U+7600-76FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0067.woff2') format('woff2');
  unicode-range: U+7700-77FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0068.woff2') format('woff2');
  unicode-range: U+7800-78FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0069.woff2') format('woff2');
  unicode-range: U+7900-79FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0070.woff2') format('woff2');
  unicode-range: U+7A00-7AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0071.woff2') format('woff2');
  unicode-range: U+7B00-7BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0072.woff2') format('woff2');
  unicode-range: U+7C00-7CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0073.woff2') format('woff2');
  unicode-range: U+7D00-7DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0074.woff2') format('woff2');
  unicode-range: U+7E00-7EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0075.woff2') format('woff2');
  unicode-range: U+7F00-7FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0076.woff2') format('woff2');
  unicode-range: U+8000-80FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0077.woff2') format('woff2');
  unicode-range: U+8100-81FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0078.woff2') format('woff2');
  unicode-range: U+8200-82FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0079.woff2') format('woff2');
  unicode-range: U+8300-83FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0080.woff2') format('woff2');
  unicode-range: U+8400-84FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0081.woff2') format('woff2');
  unicode-range: U+8500-85FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0082.woff2') format('woff2');
  unicode-range: U+8600-86FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0083.woff2') format('woff2');
  unicode-range: U+8700-87FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0084.woff2') format('woff2');
  unicode-range: U+8800-88FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0085.woff2') format('woff2');
  unicode-range: U+8900-89FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0086.woff2') format('woff2');
  unicode-range: U+8A00-8AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0087.woff2') format('woff2');
  unicode-range: U+8B00-8BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0088.woff2') format('woff2');
  unicode-range: U+8C00-8CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0089.woff2') format('woff2');
  unicode-range: U+8D00-8DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0090.woff2') format('woff2');
  unicode-range: U+8E00-8EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0091.woff2') format('woff2');
  unicode-range: U+8F00-8FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0092.woff2') format('woff2');
  unicode-range: U+9000-90FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0093.woff2') format('woff2');
  unicode-range: U+9100-91FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0094.woff2') format('woff2');
  unicode-range: U+9200-92FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0095.woff2') format('woff2');
  unicode-range: U+9300-93FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0096.woff2') format('woff2');
  unicode-range: U+9400-94FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0097.woff2') format('woff2');
  unicode-range: U+9500-95FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0098.woff2') format('woff2');
  unicode-range: U+9600-96FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0099.woff2') format('woff2');
  unicode-range: U+9700-97FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0100.woff2') format('woff2');
  unicode-range: U+9800-98FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0101.woff2') format('woff2');
  unicode-range: U+9900-99FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0102.woff2') format('woff2');
  unicode-range: U+9A00-9AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0103.woff2') format('woff2');
  unicode-range: U+9B00-9BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0104.woff2') format('woff2');
  unicode-range: U+9C00-9CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0105.woff2') format('woff2');
  unicode-range: U+9D00-9DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0106.woff2') format('woff2');
  unicode-range: U+9E00-9EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0107.woff2') format('woff2');
  unicode-range: U+9F00-9FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0108.woff2') format('woff2');
  unicode-range: U+F900-FAFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0109.woff2') format('woff2');
  unicode-range: U+FF00-FFEF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0110.woff2') format('woff2');
  unicode-range: U+3400-4DBF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0111.woff2') format('woff2');
  unicode-range: U+20000-200FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0112.woff2') format('woff2');
  unicode-range: U+20100-201FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0113.woff2') format('woff2');
  unicode-range: U+20200-202FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0114.woff2') format('woff2');
  unicode-range: U+20300-203FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0115.woff2') format('woff2');
  unicode-range: U+20400-204FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0116.woff2') format('woff2');
  unicode-range: U+20500-205FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0117.woff2') format('woff2');
  unicode-range: U+20600-206FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0118.woff2') format('woff2');
  unicode-range: U+20700-207FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0119.woff2') format('woff2');
  unicode-range: U+20800-208FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0120.woff2') format('woff2');
  unicode-range: U+20900-209FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0121.woff2') format('woff2');
  unicode-range: U+20A00-20AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0122.woff2') format('woff2');
  unicode-range: U+20B00-20BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0123.woff2') format('woff2');
  unicode-range: U+20D00-20DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0124.woff2') format('woff2');
  unicode-range: U+20E00-20EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0125.woff2') format('woff2');
  unicode-range: U+20F00-20FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0126.woff2') format('woff2');
  unicode-range: U+21200-212FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0127.woff2') format('woff2');
  unicode-range: U+21300-213FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0128.woff2') format('woff2');
  unicode-range: U+21400-214FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0129.woff2') format('woff2');
  unicode-range: U+21500-215FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0130.woff2') format('woff2');
  unicode-range: U+21600-216FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0131.woff2') format('woff2');
  unicode-range: U+21700-217FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0132.woff2') format('woff2');
  unicode-range: U+21800-218FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0133.woff2') format('woff2');
  unicode-range: U+21900-219FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0134.woff2') format('woff2');
  unicode-range: U+21A00-21AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0135.woff2') format('woff2');
  unicode-range: U+21C00-21CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0136.woff2') format('woff2');
  unicode-range: U+21D00-21DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0137.woff2') format('woff2');
  unicode-range: U+21E00-21EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0138.woff2') format('woff2');
  unicode-range: U+21F00-21FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0139.woff2') format('woff2');
  unicode-range: U+22100-221FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0140.woff2') format('woff2');
  unicode-range: U+22200-222FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0141.woff2') format('woff2');
  unicode-range: U+22300-223FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0142.woff2') format('woff2');
  unicode-range: U+22600-226FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0143.woff2') format('woff2');
  unicode-range: U+22800-228FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0144.woff2') format('woff2');
  unicode-range: U+22900-229FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0145.woff2') format('woff2');
  unicode-range: U+22A00-22AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0146.woff2') format('woff2');
  unicode-range: U+22B00-22BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0147.woff2') format('woff2');
  unicode-range: U+22C00-22CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0148.woff2') format('woff2');
  unicode-range: U+22D00-22DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0149.woff2') format('woff2');
  unicode-range: U+22E00-22EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0150.woff2') format('woff2');
  unicode-range: U+22F00-22FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0151.woff2') format('woff2');
  unicode-range: U+23100-231FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0152.woff2') format('woff2');
  unicode-range: U+23300-233FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0153.woff2') format('woff2');
  unicode-range: U+23400-234FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0154.woff2') format('woff2');
  unicode-range: U+23500-235FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0155.woff2') format('woff2');
  unicode-range: U+23600-236FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0156.woff2') format('woff2');
  unicode-range: U+23700-237FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0157.woff2') format('woff2');
  unicode-range: U+23800-238FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0158.woff2') format('woff2');
  unicode-range: U+23A00-23AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0159.woff2') format('woff2');
  unicode-range: U+23C00-23CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0160.woff2') format('woff2');
  unicode-range: U+23D00-23DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0161.woff2') format('woff2');
  unicode-range: U+23F00-23FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0162.woff2') format('woff2');
  unicode-range: U+24000-240FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0163.woff2') format('woff2');
  unicode-range: U+24100-241FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0164.woff2') format('woff2');
  unicode-range: U+24200-242FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0165.woff2') format('woff2');
  unicode-range: U+24300-243FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0166.woff2') format('woff2');
  unicode-range: U+24600-246FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0167.woff2') format('woff2');
  unicode-range: U+24700-247FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0168.woff2') format('woff2');
  unicode-range: U+24800-248FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0169.woff2') format('woff2');
  unicode-range: U+24A00-24AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0170.woff2') format('woff2');
  unicode-range: U+24B00-24BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0171.woff2') format('woff2');
  unicode-range: U+24C00-24CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0172.woff2') format('woff2');
  unicode-range: U+24D00-24DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0173.woff2') format('woff2');
  unicode-range: U+24E00-24EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0174.woff2') format('woff2');
  unicode-range: U+24F00-24FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0175.woff2') format('woff2');
  unicode-range: U+25000-250FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0176.woff2') format('woff2');
  unicode-range: U+25100-251FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0177.woff2') format('woff2');
  unicode-range: U+25200-252FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0178.woff2') format('woff2');
  unicode-range: U+25400-254FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0179.woff2') format('woff2');
  unicode-range: U+25500-255FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0180.woff2') format('woff2');
  unicode-range: U+25600-256FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0181.woff2') format('woff2');
  unicode-range: U+25700-257FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0182.woff2') format('woff2');
  unicode-range: U+25800-258FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0183.woff2') format('woff2');
  unicode-range: U+25900-259FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0184.woff2') format('woff2');
  unicode-range: U+25A00-25AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0185.woff2') format('woff2');
  unicode-range: U+25B00-25BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0186.woff2') format('woff2');
  unicode-range: U+25C00-25CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0187.woff2') format('woff2');
  unicode-range: U+25D00-25DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0188.woff2') format('woff2');
  unicode-range: U+25E00-25EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0189.woff2') format('woff2');
  unicode-range: U+25F00-25FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0190.woff2') format('woff2');
  unicode-range: U+26000-260FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0191.woff2') format('woff2');
  unicode-range: U+26200-262FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0192.woff2') format('woff2');
  unicode-range: U+26300-263FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0193.woff2') format('woff2');
  unicode-range: U+26400-264FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0194.woff2') format('woff2');
  unicode-range: U+26600-266FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0195.woff2') format('woff2');
  unicode-range: U+26700-267FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0196.woff2') format('woff2');
  unicode-range: U+26800-268FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0197.woff2') format('woff2');
  unicode-range: U+26900-269FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0198.woff2') format('woff2');
  unicode-range: U+26A00-26AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0199.woff2') format('woff2');
  unicode-range: U+26C00-26CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0200.woff2') format('woff2');
  unicode-range: U+26E00-26EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0201.woff2') format('woff2');
  unicode-range: U+26F00-26FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0202.woff2') format('woff2');
  unicode-range: U+27000-270FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0203.woff2') format('woff2');
  unicode-range: U+27100-271FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0204.woff2') format('woff2');
  unicode-range: U+27300-273FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0205.woff2') format('woff2');
  unicode-range: U+27400-274FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0206.woff2') format('woff2');
  unicode-range: U+27600-276FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0207.woff2') format('woff2');
  unicode-range: U+27700-277FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0208.woff2') format('woff2');
  unicode-range: U+27800-278FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0209.woff2') format('woff2');
  unicode-range: U+27900-279FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0210.woff2') format('woff2');
  unicode-range: U+27A00-27AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0211.woff2') format('woff2');
  unicode-range: U+27B00-27BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0212.woff2') format('woff2');
  unicode-range: U+27C00-27CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0213.woff2') format('woff2');
  unicode-range: U+27D00-27DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0214.woff2') format('woff2');
  unicode-range: U+27E00-27EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0215.woff2') format('woff2');
  unicode-range: U+27F00-27FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0216.woff2') format('woff2');
  unicode-range: U+28000-280FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0217.woff2') format('woff2');
  unicode-range: U+28200-282FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0218.woff2') format('woff2');
  unicode-range: U+28300-283FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0219.woff2') format('woff2');
  unicode-range: U+28400-284FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0220.woff2') format('woff2');
  unicode-range: U+28500-285FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0221.woff2') format('woff2');
  unicode-range: U+28600-286FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0222.woff2') format('woff2');
  unicode-range: U+28900-289FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0223.woff2') format('woff2');
  unicode-range: U+28A00-28AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0224.woff2') format('woff2');
  unicode-range: U+28B00-28BFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0225.woff2') format('woff2');
  unicode-range: U+28C00-28CFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0226.woff2') format('woff2');
  unicode-range: U+28D00-28DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0227.woff2') format('woff2');
  unicode-range: U+28E00-28EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0228.woff2') format('woff2');
  unicode-range: U+28F00-28FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0229.woff2') format('woff2');
  unicode-range: U+29200-292FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0230.woff2') format('woff2');
  unicode-range: U+29400-294FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0231.woff2') format('woff2');
  unicode-range: U+29500-295FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0232.woff2') format('woff2');
  unicode-range: U+29600-296FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0233.woff2') format('woff2');
  unicode-range: U+29700-297FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0234.woff2') format('woff2');
  unicode-range: U+29800-298FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0235.woff2') format('woff2');
  unicode-range: U+29A00-29AFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0236.woff2') format('woff2');
  unicode-range: U+29D00-29DFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0237.woff2') format('woff2');
  unicode-range: U+29E00-29EFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0238.woff2') format('woff2');
  unicode-range: U+29F00-29FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0239.woff2') format('woff2');
  unicode-range: U+2A000-2A0FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0240.woff2') format('woff2');
  unicode-range: U+2A100-2A1FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0241.woff2') format('woff2');
  unicode-range: U+2A200-2A2FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0242.woff2') format('woff2');
  unicode-range: U+2A300-2A3FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0243.woff2') format('woff2');
  unicode-range: U+2A400-2A4FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0244.woff2') format('woff2');
  unicode-range: U+2A500-2A5FF;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: local('Source Han Serif JP'), url('/fonts/split/source-han-serif-jp/0245.woff2') format('woff2');
  unicode-range: U+2A600-2A6D6;
  font-display: swap;
}