@import url('https://cdn.jsdelivr.net/npm/@wc1font/source-han-serif-sc-vf/font.css');

@font-face {
  font-family: "Asebi Mincho";
  src: 
    local('Asebi Mincho'),
    local('馬酔木明朝'),
    url("/fonts/AsebiMin-Light.otf") format("truetype");
}

@font-face {
  font-family: 'KaiTi';
  src: 
    local('KaiTi'),
    url('/fonts/simkai.ttf');
}

@font-face {
  font-family: 'DFKai-SB';
  src: 
    local('DFKai-SB'),
    url('/fonts/標楷體.ttf');
}

@font-face {
  font-family: 'Source Han Serif JP';
  src:
    local('Source Han Serif JP'),
    url('/fonts/SourceHanSerifJP-Regular.ttf');
}

@font-face {
  font-family: 'Source Han Serif Old';
  src:
    local('Source Han Serif Old'),
    url('/fonts/SOURCEHANSERIFOLD-LIGHT.OTF') format("truetype");
}

@font-face {
  font-family: 'Old English Onglisch';
  src:
    local('Old English Onglisch'),
    url('/fonts/Old English Onglisch.otf') format("truetype");
}